.product {
    font-family: sans-serif;

    /* responsive */
    display: flex;
    flex-direction: row;
    /* responsive */
    

    border-bottom: 1px solid lightgrey;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 10px;
    margin-right: 10px;
}

.product-name {
    padding-left: 25px;
}
.product h4 {
    color: blue;
}


.main-button {
    background-color: #f0c14b; /* goldenrod */
    width: 150px;
    height: 30px;
    border: 1px solid #46467094;
    border-radius: 5px;
    cursor: pointer;
}


/* responsive */
@media (max-width: 800px) {
    .product {
      flex-direction: column;
    }
  }