.product {
    font-family: sans-serif;
    display: flex;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 10px;
    margin-right: 10px;
}

.product-name {
    padding-left: 25px;
    color: blue;
    font-weight: 400;
}

.main-button {
    background-color: #f0c14b; /* goldenrod */
    width: 150px;
    height: 30px;
    border: 1px solid #46467094;
    border-radius: 5px;
}